<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.health.READ_WEIGHT" />
    <uses-permission android:name="android.permission.health.READ_BODY_FAT" />
    <uses-permission android:name="android.permission.health.READ_NUTRITION" />
    <uses-permission android:name="android.permission.health.READ_HYDRATION" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.WRITE_WEIGHT" />
    <uses-permission android:name="android.permission.health.WRITE_BODY_FAT" />
    <uses-permission android:name="android.permission.health.WRITE_NUTRITION" />
    <uses-permission android:name="android.permission.health.WRITE_HYDRATION" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <application>

        <meta-data
            android:name="health_connect_permissions"
            android:resource="@array/health_connect_permissions" />

        <activity-alias
            android:name=".ViewPermissionUsageActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>

        <service
            android:name="androidx.health.platform.client.impl.sdkservice.HealthDataSdkService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.platform.client.ACTION_BIND_SDK_SERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>
